@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

/* a {
  text-decoration: none;
  color: darkblue;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: darkcyan;
  }
} */

@media (min-width: 1024px) {

}
